---
import Link from "./ui/link.astro";
import team from "assets/team.jpeg";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import andrea from "assets/team/andrea.png";
import fabiana from "assets/team/fabiana.png";
import sophia from "assets/team/sophia.png";
import yantong from "assets/team/yantong.png";
import annachiara from "assets/team/annachiara.png";
import martina from "assets/team/martina.png";

import polimi from "assets/polimi.png";
import { reference } from "astro:content";

const references = [
  {
    description: "Knapp J., Zeratsky J., Kowitz B., (2016). Sprint: How to Solve Big Problems and Test New Ideas in Just Five Days. New York : Simon & Schuster",
  },
  {
    description: "Sanders, E. (2000). Generative tools for co-designing, in Scrivener et al. (Eds) Collaborative Design, Sprigler-Verlag, London Limited.",
  },

]

const professors = [
  {
    name: "Marco Ajovalasit",
  },
  {
    name: "Mariana Ciancia",
  },
  {
    name: "Mattia Gianotti",
  },
  {
    name: "Francesca Macolino",
  },
  {
    name: "Eleonora Beccaluva",
  },
  {
    name: "Marco Tintori",
  },
]
---
<div class="mx-auto px-5">
    <div class="mt-12 flex justify-center mx-auto max-w-7xl flex-col items-center text-center">
      <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
        Conclusions
      </h2>
      <p class="mt-2 max-w-xl text-md text-slate-700">Dory wants to create a new way to support the daily lives of ADHD individuals by seamlessly integrating technology to their lives. With an intuitive experience, it streamlines organization and minimizes stress. Dory transforms routines providing timely reminders and ensuring essentials are never forgotten. By fusing convenience with accessibility, Dory empowers users to navigate urban life with newfound ease, fostering independence and a worry-free experience.</p>

      <div class="mt-12 flex justify-center items-start mx-auto w-full max-w-3xl">
        <h2 class="text-xl lg:text-2xl font-bold lg:tracking-tight mt-8">
          The team
        </h2>
      </div>

      
      <div class="mt-4 mb-24 grid grid-cols-3 items-start gap-8 mx-auto w-full max-w-3xl">
        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={sophia} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Sophia Amati</h3>
            <p class="text-sm text-slate-700">Communication Designer, Videomaker, Arduino Expert</p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={martina} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Martina Rinascimento</h3>
            <p class="text-sm text-slate-700">Graphic & Product Designer</p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={annachiara} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Annachiara Lelli</h3>
            <p class="text-sm text-slate-700">UX/UI Designer</p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={fabiana} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Fabiana Marino</h3>
            <p class="text-sm text-slate-700">UX, Interactive Product Designer</p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={andrea} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Andrea Savoia</h3>
            <p class="text-sm text-slate-700">Graphic Designer, Figma Lover</p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-4 mt-8">
          <Image src={yantong} alt="" width={160} height={160} class=" rounded-full border-4 border-indigo-300"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <h3 class="text-lg font-bold tracking-tight">Wang Yantong</h3>
            <p class="text-sm text-slate-700">Visual & Graphic Designer</p>
          </div>
        </div>

      </div>

      <h2 class="text-lg font-semibold lg:tracking-tight mt-20">
        Teaching Team
      </h2>
      <ul class="mt-2 max-w-md text-center text-sm text-slate-700">
        {
        professors.map((item) => (
        <li class="px-2 py-1 self-stretch">
        {item.name}
        </li>
        ))
      }
      </ul>

        <h2 class="text-lg font-semibold lg:tracking-tight mt-44">
          References
        </h2>
        <!--
        <ul class="mt-2 max-w-md text-left text-xs text-slate-700">
          {
          references.map((item) => (
          <li class="ml-1 px-2 py-1 w-fit list-decimal self-stretch">
          {item.description}
          </li>
          ))
        }
        </ul>
        -->
        <ul class="mt-6 max-w-lg text-left text-xs text-slate-700 list-decimal">Desk Research
          <li class="px-2 py-1 self-stretch">
            The Mini ADHD Coach. (n.d.). Living with ADHD. Available at: https://www.theminiadhdcoach.com/living-with-adhd
          </li>
          <li class="px-2 py-1 self-stretch">
            Young Minds. (n.d.). ADHD and Mental Health. Available at: https://www.youngminds.org.uk/young-person/mental-health-conditions/adhd-and-mental-health/
          </li>
          <li class="px-2 py-1 self-stretch">
            Bunford, N., Brandwein, A. B., Roth, C., & Ritzler, B. (2020). Sensory Processing in Adult ADHD - A Systematic Review. ResearchGate. Available at: https://www.researchgate.net/publication/344814107_Sensory_Processing_in_Adult_ADHD_-_A_Systematic_Review#fullTextFileContent
          </li>
          <li class="px-2 py-1 self-stretch">
            University of Helsinki. (n.d.). Understanding ADHD. Available at: https://www.helsinki.fi/en/news/education/understanding-adhd
          </li>
          <li class="px-2 py-1 self-stretch">
            New European Bauhaus. (n.d.). Station Being. Available at: https://new-european-bauhaus.europa.eu/get-inspired/inspiring-projects-and-ideas/station-being_en
          </li>
          <li class="px-2 py-1 self-stretch">
            Diller Scofidio + Renfro. (n.d.). The High Line. Available at: https://dsrny.com/project/the-high-line
          </li>
          <li class="px-2 py-1 self-stretch">
            Spazio Nautilus. (n.d.). Progetto Autside - Stanza Multisensoriale. Available at: https://spazionautilus.it/progetto-autside-stanza-multisensoriale/
          </li>
          <li class="px-2 py-1 self-stretch">
            Inclusion Europe. (n.d.). European Accessibility Act. Available at: https://www.inclusion-europe.eu/european-accessibility-act/#Benefits
          </li>
        </ul>

        <ul class="mt-6 max-w-lg text-left text-xs text-slate-700 list-decimal">Benchmarking
          <li class="px-2 py-1 self-stretch">
            Corriere della Sera. (2022, September 1). Funziona la cassa veloce Decathlon: ecco i segreti del sistema di pagamento smart della GDO italiana. Available at: https://www.corriere.it/tecnologia/22_settembre_01/funziona-cassa-veloce-decathlon-ecco-segreti-sistema-pagamento-smart-gdo-italiana-0e61df91-676c-4875-8204-917a43196xlk.shtml
          </li>
          <li class="px-2 py-1 self-stretch">
            Tile. (n.d.). Available at: https://it.tile.com/it
          </li>
          <li class="px-2 py-1 self-stretch">
            Remember The Milk. (n.d.). Tour. Available at: https://www.rememberthemilk.com/tour/
          </li>
          <li class="px-2 py-1 self-stretch">
            Pix Backpack. (n.d.). Available at: https://www.instagram.com/pix.backpack/
          </li>
        </ul>

        <ul class="mt-6 max-w-lg text-left text-xs text-slate-700 list-decimal">User Interface
          <li class="px-2 py-1 self-stretch">
            Tiimo App. (n.d.). Tiimo Website. Available at: https://www.tiimoapp.com/
          </li>
          <li class="px-2 py-1 self-stretch">
            Alexa App. (n.d.). Available at: https://apps.apple.com/it/app/amazon-alexa/id944011620
          </li>
          <li class="px-2 py-1 self-stretch">
            Apple Developer. (n.d.). Human Interface Guidelines. Available at: https://developer.apple.com/design/human-interface-guidelines
          </li>
        </ul>
        

        <div class="flex flex-col items-center gap-4 mt-24">
          <Image src={polimi} alt="" height={120} class="object-fill"/>
          <div class="flex flex-col items-center gap-1 self-stretch">
            <!--<h3 class="text-lg font-bold tracking-tight">Politecnico di Milano</h3>-->
            <p>Digital & Interaction Design <br>Final Design Studio <br>A.A. 2023/2024</p>
          </div>
        </div>

    </div>
</div>

