---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

import magnets from "assets/device/magnets.png";
import scanning from "assets/device/scanning.png";
import wireless from "assets/device/wireless-charge.png";

import screen from "assets/device/screen1.png";
import led from "assets/device/led.png";
import buzzer from "assets/device/buzzer.png";

const ergonomics = [
  {
    title: "Why round?",
    description: "The round shape is aimed at making Dory visibly compatible with bag geometries, making it inconspicuous and moving it away from the idea of a nameplate or additional 'accessory' or screen. ",
  },

  {
    title: "Size",
    description: "Dory is 60 mm in diameter. Its size is designed so that it is not too visually impactful. For this reason, the component outside the bag remains very thin with a shape whose sides descend tapering to the fabric and coinciding with the surface of the bag. ",
  },

  {
    title: "Grip",
    description: "Dory is composed of two parts that by joining together, by means of a magnet, attach to the fabric. For such, since it is essential to have the outer part not too prominent from the fabric, the shape of the inner component is designed to make it easy to grip the object.",
  },
];


---
<div class="mx-auto px-5">

<div class="mt-36 mx-auto max-w-7xl flex flex-col items-center text-center">
  <div>  
    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
      Ergonomics
    </h2>
  </div>

  <div class="flex items-start max-w-5xl gap-4 mt-8">
    
      {
        ergonomics.map((item) => (
        <div class="bg-indigo-50 flex flex-1 flex-col rounded-lg self-stretch items-center gap-4 p-8">
           
              <h2 class=" text-center mt-1 text-xl font-semibold text-black self-stretch">{item.title}</h2>

              <p class="text-left text-sm text-slate-700">{item.description}</p>

        </div>
        ))
      }
  </div>
</div>

  <div class="mt-44 mx-auto max-w-7xl flex flex-col items-center text-center">
      <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
        Details
      </h2>
    <div class="grid grid-cols-3 max-w-7xl items-start gap-10 mt-8">
      <div class="flex flex-col self-stretch items-center gap-7">
              <Image src={scanning} alt="" width={384} height={384} class="aspect-square self-stretch bg-sky-100"/>
            <div class="flex flex-col items-center gap-3">
              <h3 class="text-center mt-1 text-xl font-semibold text-black self-stretch">Scanning</h3>
              <p class="text-center text-sm text-slate-700 max-w-xs">RFID tags make any object compatible with Dory and recognizable simply by passing by it.</p>
            </div>
      </div>
      <div class="flex flex-col self-stretch items-center gap-7">
              <Image src={wireless} alt="" width={384} height={384} class="aspect-square self-stretch bg-rose-100"/>
            <div class="flex flex-col items-center gap-3">
              <h3 class="text-center mt-1 text-xl font-semibold text-black self-stretch">Wireless Charge</h3>
              <p class="text-center text-sm text-slate-700 max-w-xs">You can recharge Dory without necessarily taking it out of your bag.</p>
            </div>
      </div>
      <div class="flex flex-col self-stretch items-center gap-7">
              <Image src={magnets} alt="" width={384} height={384} class="aspect-square self-stretch bg-indigo-100"/>
            <div class="flex flex-col items-center gap-3">
              <h3 class="text-center mt-1 text-xl font-semibold text-black self-stretch">Magnets</h3>
              <p class="text-center text-sm text-slate-700 max-w-xs">Attaching Dory to your bag is easy thanks to the magnets placed between the two shells.</p>
            </div>
          </div>
    </div>

    <div class="mt-56 mx-auto max-w-7xl flex flex-col items-center text-center">
      <div>  
        <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
          Feedbacks & Feedforwards
        </h2>
      </div>

      <div class="bg-indigo-50 rounded-lg inline-flex items-start gap-20 mt-9 p-6 w-full"> <!-- w-full + ma-w-xl? -->
        <div class="text-left flex flex-col max-w-lg items-start self-stretch gap-12 p-9 order-0">
          <h2 class="text-2xl lg:text-3xl font-semibold lg:tracking-tight">Screen</h2>
          <div class="grid grid-cols-2 items-start gap-9 self-stretch">
              <div class="flex flex-col items-start gap-4 self-stretch">
                <h3 class="text-lg font-semibold lg:tracking-tight">Readability</h3>
                <p class="text-md text-slate-700">Priority is given to images rather than texts, giving a glimpse of the objects present through the use of an icon system.</p>
              </div>
              <div class="flex flex-col items-start gap-4 self-stretch">
                <h3 class="text-lg font-semibold lg:tracking-tight">Usability</h3>
                <p class="text-md text-slate-700">Icon colors, sizes, and hierarchy are designed to help the user understand what they are missing rather than what they already have.</p>
              </div>
          </div>
        </div>

        <div>
          <Image src={screen} alt="" width={384} height={384} class="rounded-xl aspect-square self-stretch bg-gray-300"/>
        </div>
      </div>

      <div class="bg-indigo-50 rounded-lg inline-flex items-start gap-20 mt-9 p-6 w-full">
        <div class="text-left flex flex-col max-w-lg items-start self-stretch gap-12 p-9 order-1">
          <h2 class="text-2xl lg:text-3xl font-semibold lg:tracking-tight">LEDs</h2>
          <div class="flex items-start gap-9 self-stretch">
              <div class="grid grid-cols-1 items-start gap-4 self-stretch">
                <h3 class="text-lg font-semibold lg:tracking-tight">Notifications</h3>
                <p class="text-md text-slate-700">The user can select the start time when creating a new event. Depending on this, they will receive different types of notifications.</p>
                <ul class="text-md text-slate-700 list-disc pl-4">
                  <li>When leaving home for the activity</li>
                  <li>When the activity is almost ending</li>
                </ul>
              </div>
          </div>
        </div>

        <div>
          <Image src={led} alt="" width={384} height={384} class="rounded-xl aspect-square self-stretch bg-gray-700"/>
        </div>
      </div>

      <div class="bg-indigo-50 rounded-lg inline-flex items-start gap-20 mt-9 p-6 w-full">
        <div class="text-left flex flex-col max-w-lg items-start self-stretch gap-12 p-9 order-0">
          <h2 class="text-2xl lg:text-3xl font-semibold lg:tracking-tight">Buzzer</h2>
          <div class="grid grid-cols-2 items-start gap-9 self-stretch">
              <div class="flex flex-col items-start gap-4 self-stretch">
                <h3 class="text-lg font-semibold lg:tracking-tight">Notification</h3>
                <p class="text-md text-slate-700">When objects are inserted and taken out of the bag, the device will emit a sound to give the user a hint that recognition has occurred.</p>
              </div>
          </div>
        </div>

        <div>
          <Image src={buzzer} alt="" width={384} height={384} class="rounded-xl aspect-square self-stretch bg-gray-300"/>
        </div>
      </div>

    </div>

</div>
