---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import system from 'assets/system-architecture.svg';
import { Image , Picture } from "@astrojs/image/components";

import frame1 from "assets/storyboard/frame-1.png";
import frame2 from "assets/storyboard/frame-2.png";
import frame3 from "assets/storyboard/frame-3.png";
import frame4 from "assets/storyboard/frame-4.png";
import frame5 from "assets/storyboard/frame-5.png";
import frame6 from "assets/storyboard/frame-6.png";

const steps = [
  {
    number: "1",
    title: "Place the provided tags on your object",
    description:
      "RFID stickers are included in the package to be affixed to the objects you want to register in the application. They are small and adhere to most surfaces without significantly altering the appearance of the object.",
    picture:"/src/assets/storyboard/frame-1.png",
    url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=4ce18d85-6e4a-4862-8764-a34bfe8413df",
  },
  {
    number: "2",
    title: "Register your items in the app",
    description:
      "The user is guided step by step through the item registration process with video tutorials, avoiding misunderstandings and maintaining high motivation.",
      picture:"/src/assets/storyboard/frame-2.png",
      url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=0ca7c826-70c5-44a6-86dc-f3e5c7e45468",
  },
  {
    number: "3",
    title: "Create a new event in your calendar",
    description:
      "It is possible to create events based on our most frequent activities, such as going to the office or attending a fitness class. You can enter the departure time to receive timely notifications.",
      picture:"/src/assets/storyboard/frame-3.png",
      url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=dae288b2-abb5-4a22-b56e-9c6f3489d6e7",
  },
  {
    number: "4",
    title: "Select the items needed for the event from your inventory",
    description:
      "For each event, we can associate the items to bring with us by selecting them from the inventory or scanning new ones.",
      picture:"/src/assets/storyboard/frame-4.png",
      url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=2dd2c017-569a-40c0-915c-2cf45de26324",
  },
  {
    number: "5",
    title: "When it’s time to leave, Dory will remind you of the items to put in your bag",
    description:
      "If there are items that haven't been placed in the bag near the departure time, Dory will remind us with repeated notifications. If we are already wearing some of the items to bring with us, such as glasses or a wallet, we can notify Dory to consider them as 'with us.'",
      picture:"/src/assets/storyboard/frame-5.png",
      url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=86e4c108-03e7-45aa-9937-217e2e02cae1",
  },
  {
    number: "6",
    title: "Live your days without worries!",
    description:
      "From now on, Dory will take care of everything. When needed, it will alert you. If you want a quick look at what you're bringing with you for added security, Dory will always serve as a 'window' into your bag.",
      picture:"/src/assets/storyboard/frame-6.png",
      url: "https://polimi365-my.sharepoint.com/personal/10731838_polimi_it/_layouts/15/embed.aspx?UniqueId=21519ade-fd73-4ac5-8ddc-b2b5d432027c",
  },
];


---
<div class="mx-auto px-5">

<div class="my-20 mx-auto max-w-7xl flex flex-col justify-center text-center">
  <div>  
    <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight mt-1">
      Scenario of Use
    </h2>
  </div>

  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between gap-8 mt-8">
    
      {
        steps.map((item) => (
        <div class="p-4 flex flex-col items-start self-stretch rounded-xl border-2 border-slate-300 shadow-md shadow-grey-300">
          
          <iframe src={item.url} height="280" class="w-full object-cover" frameborder="0" scrolling="no" allowfullscreen></iframe>
          
          <div class="flex flex-col items-start gap-4 py-6 px-4 self-stretch">
            <p class="bg-indigo-300 flex w-7 h-7 p-2 flex-col justify-center items-center rounded-full shrink-0 text-sm font-bold">{item.number}</p>
            
            <div class="flex flex-col items-start gap-3">
              <h2 class="text-left mt-1 text-2xl font-bold text-black leading-7">{item.title}</h2>
              <p class="text-left text-xs text-slate-700">{item.description}</p>
            </div>
          </div>
          
        </div>
        ))
      }
  </div>

  

  <div class="mt-24 mx-auto max-w-7xl flex flex-col items-center text-center">
    <div>  
      <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
        System architecture
      </h2>
    </div>
    <div class="flex items-center mt-4">
      <Picture
        src={system}
        alt="System architecture"
        sizes="(max-width: 1200px) 100vw, 1000px"
        widths={[200, 400, 1400]}
        aspectRatio="16:9"
        background="#B0B0FB"
        fit="cover"
        position="center"
        loading="eager"
        decoding="sync"
        class="w-full rounded-md"
      />
      <div>
  </div>


</div>
</div>
